# Practice work - 8 week

1. Read Cartweeldata file (0.1p)

In [4]:
import statsmodels.api as sm
import numpy as np
import pandas as pd
import scipy.stats.distributions as dist

In [6]:
#your code
df = pd.read_csv('Cartwheeldata.csv')
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

2. Find parameters (length, mean and standard deviation) of population (0.2p)

In [19]:
length = len(df)

mean = df.mean(axis=0)

std = np.std(df, ddof = 1)

print(length)
print('----------------------------------------------------')
print('MEAN\n', mean)
print('----------------------------------------------------')
print('STANDARD DEVIATION\n', std)

25
----------------------------------------------------
MEAN
 ID               13.00
Age              28.24
GenderGroup       1.52
GlassesGroup      0.56
Height           67.65
Wingspan         66.26
CWDistance       82.48
CompleteGroup     0.76
Score             6.40
dtype: float64
----------------------------------------------------
STANDARD DEVIATION
 ID                7.359801
Age               6.989754
GenderGroup       0.509902
GlassesGroup      0.506623
Height            4.431187
Wingspan          5.492647
CWDistance       15.058552
CompleteGroup     0.435890
Score             2.533114
dtype: float64

C:\Users\anuar\AppData\Local\Temp\ipykernel_21196\2044245707.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  mean = df.mean(axis=0)
D:\anakonda\Lib\site-packages\numpy\core\fromnumeric.py:3603: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

3. Write about Hypothesis Testing(0.2p)

#your answer

The statistical analysis of data was typically restricted to hypothesis
tests: you formulate a hypothesis, collect your data, and then accept or reject the
hypothesis. The resulting hypothesis tests form the basic framework for by far most
analyses in medicine and life sciences, and the most important hypotheses tests will
be described in the following chapters.

4. Write about P-values (0.2p)

#your answer

Comparing the observed value of the statistic (here the obtained t-value) with the
corresponding distribution (the t-distribution), we can find the likelihood that a
value as extreme as or more extreme than the observed one is found by chance.
This is the so-called p-value

Task Description:

You work for a marketing department in a retail company, and you've recently launched a new advertising campaign to increase sales of a specific product category. The campaign involved targeting potential customers through social media ads. Now, you need to assess the effectiveness of this campaign through hypothesis testing.

5. Formulate Research Question. (0.3p)

How does our social media advertising campaign's effectiveness vary across different marketing channels and platforms in terms of its impact on the sales of specific product category?

6. Formulate Hypotheses. (0.5p)

The advertising campaign has a different impact on sales across marketing channels and platforms for the specific product category, with at least one channel or platform having a significantly greater positive effect on sales, while others may have no effect or a negative effect.