# Homework 1

## Numpy

1) Create a NumPy array with the values [10, 20, 30, 40, 50].

In [64]:
#your answer

2) Calculate the mean and standard deviation of the elements in a NumPy array.

In [65]:
#your code

3) Create a 3x3 NumPy array with random integers between 1 and 100.

In [66]:
#your code

 4) Calculate the square root of each element in a NumPy array.

In [67]:
arr = np.array([10, 20, 30, 40, 50])

#your answer

5) Create a 2D NumPy array with dimensions (4, 4) filled with ones

In [68]:
#your code

6) Reshape a 1D NumPy array into a 3x3 2D array.

In [69]:
arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90])

#your answer

7) Create a NumPy array of 10 equally spaced values between 0 and 1.

In [70]:
#your code

8) Find the index of the maximum value in a NumPy array.

In [71]:
arr = np.array([10, 20, 30, 40, 50])

#your answer

9) Create a diagonal matrix with specified diagonal elements using NumPy.

In [72]:
#your code

10) Compute the determinant of a square NumPy matrix.

In [73]:
matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

#your answer

11) Create a NumPy array with random floats between 0 and 1.

In [74]:
#your code

## Pandas

12) You have a list of names: names = ['Alice', 'Bob', 'Charlie', 'David']. Convert this list into a pandas DataFrame.

In [75]:
#your answer

In [52]:
#we have DataFrame df
data = {'Name': ['Tom', 'Joseph', 'Krish', 'John', 'Andy', 'Tiffany', 'Michael'], 
        'Age': [20, 21, 19, 18, 32, 56, 12],
        'Gender': ['M', 'M', 'F', 'M', 'F', 'F', 'M'],}  
df = pd.DataFrame(data)   
print(df)

      Name  Age Gender
0      Tom   20      M
1   Joseph   21      M
2    Krish   19      F
3     John   18      M
4     Andy   32      F
5  Tiffany   56      F
6  Michael   12      M

13) Given a DataFrame df with a column 'Age', calculate and display the maximum age.

In [76]:
#your code

14) Filter the rows in a DataFrame df where the 'Age' is greater than 30.

In [77]:
#your answer

15) Sort a DataFrame df by the 'Age' column in descending order.

In [78]:
#your answer

In [79]:
# countries.csv file which is imported
url = "/Users/User/Desktop/Homework1/highest_LifeExp_countries.csv"  #write path of countries.csv file in your device

16) Read the .csv file and store it as a pandas Data Frame and define its type

In [80]:
#your code

17) Show the first 7 rows of our Data Frame

In [81]:
#your answer

18) Show the last 7 rows of our Data Frame

In [82]:
#your answer

19) How many countries does the dataframe 'df' contain? Use the function to print the number of rows and columns in the 'df'

In [83]:
#your code

20) Count the number of missing values in each columns of 'df'

In [84]:
#your code

21) Sort the dataframe by 2 variables: 'continent' in ascending order, 'population' in descending order.

In [85]:
#your code

 22) Subset rows where 'life_expectancy' is greater than 80.0, and then calculate the number of countries. (Hint: the number of countries can be calculated using the function that prints the number of rows and columns in dataframe)

In [86]:
#your code