# Homework 1

## Numpy

1) Create a NumPy array with the values [10, 20, 30, 40, 50].

In [3]:
import numpy as np

arr = np.array([10, 20, 30, 40, 50])
print(arr)

[10 20 30 40 50]

2) Calculate the mean and standard deviation of the elements in a NumPy array.

In [4]:
mean = arr.mean()
print(mean)

standard_d = 0

for i in arr:
    standard_d += (i-mean)**2
    
print((standard_d/(len(arr)-1))**(1/2))

30.0
15.811388300841896

3) Create a 3x3 NumPy array with random integers between 1 and 100.

In [5]:
rand_array = np.random.randint(low = 1, high = 100, size = (3,3))
print(rand_array)

[[ 2 68 57]
 [86 48 79]
 [53 76  7]]

 4) Calculate the square root of each element in a NumPy array.

In [6]:
arr = np.array([10, 20, 30, 40, 50])
print(np.sqrt(arr))
#your answer

[3.16227766 4.47213595 5.47722558 6.32455532 7.07106781]

5) Create a 2D NumPy array with dimensions (4, 4) filled with ones

In [7]:
four_arr = np.zeros((4,4)) + 1 
print(four_arr)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

6) Reshape a 1D NumPy array into a 3x3 2D array.

In [8]:
arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90])

arr2 = arr.reshape((3,3))

print(arr2)

[[10 20 30]
 [40 50 60]
 [70 80 90]]

7) Create a NumPy array of 10 equally spaced values between 0 and 1.

In [9]:
arr = np.linspace(0,1,10)
print(arr)

[0.         0.11111111 0.22222222 0.33333333 0.44444444 0.55555556
 0.66666667 0.77777778 0.88888889 1.        ]

8) Find the index of the maximum value in a NumPy array.

In [10]:
arr = np.array([10, 20, 30, 40, 50])
print(np.argmax(arr))
#your answer

4

9) Create a diagonal matrix with specified diagonal elements using NumPy.

In [11]:
n = int(input())
diag_matrix = np.diag(arr)
print(diag_matrix)

2
[[10  0  0  0  0]
 [ 0 20  0  0  0]
 [ 0  0 30  0  0]
 [ 0  0  0 40  0]
 [ 0  0  0  0 50]]

10) Compute the determinant of a square NumPy matrix.

In [12]:
matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
determ = np.linalg.det(matrix)
print(determ)

-9.51619735392994e-16

11) Create a NumPy array with random floats between 0 and 1.

In [13]:
n, m = int(input('rows = ')),int(input('columns = '))
array = np.random.random((n,m))
print(array)

rows = 3
columns = 4
[[0.16057845 0.17992916 0.90178417 0.26255662]
 [0.96156679 0.97957148 0.94229248 0.38285598]
 [0.974825   0.5923693  0.42158087 0.58586391]]

## Pandas

12) You have a list of names: names = ['Alice', 'Bob', 'Charlie', 'David']. Convert this list into a pandas DataFrame.

In [14]:
import pandas as pd
dframe = pd.DataFrame(['Alice', 'Bob', 'Charlie', 'David'])
print(type(dframe))

<class 'pandas.core.frame.DataFrame'>

In [15]:
#we have DataFrame df
data = {'Name': ['Tom', 'Joseph', 'Krish', 'John', 'Andy', 'Tiffany', 'Michael'], 
        'Age': [20, 21, 19, 18, 32, 56, 12],
        'Gender': ['M', 'M', 'F', 'M', 'F', 'F', 'M'],}  
df = pd.DataFrame(data)   
print(df)

      Name  Age Gender
0      Tom   20      M
1   Joseph   21      M
2    Krish   19      F
3     John   18      M
4     Andy   32      F
5  Tiffany   56      F
6  Michael   12      M

13) Given a DataFrame df with a column 'Age', calculate and display the maximum age.

In [17]:
max_age = df['Age'].max()
print(max_age)

56

14) Filter the rows in a DataFrame df where the 'Age' is greater than 30.

In [20]:
gr_t_30 = df[df['Age'] > 30]
print(gr_t_30)

      Name  Age Gender
4     Andy   32      F
5  Tiffany   56      F

15) Sort a DataFrame df by the 'Age' column in descending order.

In [22]:
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

      Name  Age Gender
5  Tiffany   56      F
4     Andy   32      F
1   Joseph   21      M
0      Tom   20      M
2    Krish   19      F
3     John   18      M
6  Michael   12      M

In [23]:
# countries.csv file which is imported
url = "countries.csv"  #write path of countries.csv file in your device

16) Read the .csv file and store it as a pandas Data Frame and define its type

In [24]:
#your code 
df = pd.read_csv(url)

print(type(df))

<class 'pandas.core.frame.DataFrame'>

17) Show the first 7 rows of our Data Frame

In [25]:
#your answer
print(df.head(7))

              location      continent  population  life_expectancy  \
0          Afghanistan           Asia    38928341            64.83
1              Albania         Europe     2877800            78.57
2              Algeria         Africa    43851043            76.88
3              Andorra         Europe       77265            83.73
4               Angola         Africa    32866268            61.15
5             Anguilla  North America       15002            81.88
6  Antigua and Barbuda  North America       97928            77.02

   hospital_beds_per_thousand  gdp_per_capita
0                        0.50        1803.987
1                        2.89       11803.431
2                        1.90       13913.839
3                         NaN             NaN
4                         NaN        5819.495
5                         NaN             NaN
6                        3.80       21490.943

18) Show the last 7 rows of our Data Frame

In [26]:
#your answer
print(df.tail(7))

           location      continent  population  life_expectancy  \
203         Vatican         Europe         809            75.12
204       Venezuela  South America    28435943            72.06
205         Vietnam           Asia    97338583            75.40
206  Western Sahara         Africa      597330            70.26
207           Yemen           Asia    29825968            66.12
208          Zambia         Africa    18383956            63.89
209        Zimbabwe         Africa    14862927            61.49

     hospital_beds_per_thousand  gdp_per_capita
203                         NaN             NaN
204                         0.8       16745.022
205                         2.6        6171.884
206                         NaN             NaN
207                         0.7        1479.147
208                         2.0        3689.251
209                         1.7        1899.775

19) How many countries does the dataframe 'df' contain? Use the function to print the number of rows and columns in the 'df'

In [28]:
countries = df.shape[0]

columns = df.shape[1]

print("Number of countries:", countries)
print("Number of columns:", columns)

Number of countries: 210
Number of columns: 6

20) Count the number of missing values in each columns of 'df'

In [29]:
missing_values = df.isna().sum()
print(missing_values)

location                       0
continent                      0
population                     0
life_expectancy                3
hospital_beds_per_thousand    46
gdp_per_capita                27
dtype: int64

21) Sort the dataframe by 2 variables: 'continent' in ascending order, 'population' in descending order.

In [31]:
sorted_df = df.sort_values(by=['continent', 'population'], ascending=[True, False])
print(sorted_df)

                         location      continent  population  life_expectancy  \
141                       Nigeria         Africa   206139587            54.69
63                       Ethiopia         Africa   114963583            66.60
58                          Egypt         Africa   102334403            71.99
52   Democratic Republic of Congo         Africa    89561404            60.68
187                      Tanzania         Africa    59734213            65.46
..                            ...            ...         ...              ...
149                      Paraguay  South America     7132530            74.25
201                       Uruguay  South America     3473727            77.91
84                         Guyana  South America      786559            69.91
180                      Suriname  South America      586634            71.68
65               Falkland Islands  South America        3483            81.44

     hospital_beds_per_thousand  gdp_per_capita
141                         NaN        5338.454
63                          0.3        1729.927
58                          1.6       10550.206
52                          NaN         808.133
187                         0.7        2683.304
..                          ...             ...
149                         1.3        8827.010
201                         2.8       20551.409
84                          1.6        7435.047
180                         3.1       13767.119
65                          NaN             NaN

[210 rows x 6 columns]

 22) Subset rows where 'life_expectancy' is greater than 80.0, and then calculate the number of countries. (Hint: the number of countries can be calculated using the function that prints the number of rows and columns in dataframe)

In [17]:
data = {'Column1': [0, 0.2, 0.3], 'Column2': [0.12, 0.22, 0.32]}
df = pd.DataFrame(data)

# Function to format numbers
def format_number(number):
    if number == 0:
        return '0'
    elif number < 1:
        return f'.{int(number * 10)}'
    else:
        return str(number)

# Apply the formatting function to the DataFrame
formatted_df = df.applymap(format_number)

# Display the formatted DataFrame
print(formatted_df)

  Column1 Column2
0       0      .1
1      .2      .2
2      .3      .3